pt5_print_array/call_printf
pt5_print_array/print_array

pt4_recursive_power/hello_world_func
pt4_recursive_power/multiply_rec

pt3_draw_circle/draw_circle
pt3_draw_circle/draw_circle_improved

pt2_draw_square/draw_square
pt1_hello_world/hello_world

sorting/asem
test

*/*.o